/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #1f1f1f; /* Gris foncé */
    color: #fff;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.1em;
}

/* Bouton pour changer de mode */
button#modeToggle {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 10px;
    border-radius: 5px;
}

button#modeToggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode footer {
    background-color: #333;
}

body.dark-mode .project, 
body.dark-mode .skill {
    background-color: #333;
    border-color: #444;
}

body.dark-mode a {
    color: #80d0ff;
}

body.dark-mode footer a:hover {
    color: #ff6600;
}

body.dark-mode button#modeToggle {
    color: #000;
    border-color: #000;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
    .projects, .skills {
        flex-direction: column;
        align-items: center;
    }

    .project, .skill {
        width: 80%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .section-title {
        font-size: 1.8em;
    }

    .project, .skill {
        width: 100%;
    }
}
