/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Blanc par défaut pour l'arrière-plan */
    color: #333; /* Texte sombre pour contraster */
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #1a1a1a; /* Couleur sombre pour l'en-tête */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

#modeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

#modeToggle:hover {
    transform: scale(1.1);
}

/* Container central */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fond blanc pour la page principale */
    transition: background-color 0.3s;
}

/* Sections */
section {
    margin-bottom: 60px;
}

.section-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.project, .skill {
    width: 30%;
    background-color: #ffffff; /* Fond blanc par défaut pour les projets */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Effet au survol des projets */
.project:hover, .skill:hover {
    transform: translateY(-10px); /* Légère translation pour donner un effet de survol */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.project h3, .skill h3 {
    color: #333; /* Titre en sombre */
}

.project p, .skill p {
    color: #666; /* Texte des projets */
}

footer {
    background-color: #1a1a1a; /* Pied de page sombre */
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Mode sombre */
body.dark-mode {
    background-color: #1c2b3d; /* Bleu foncé pour le fond de la page en mode sombre */
    color: #e0e0e0; /* Texte clair pour contraster */
}

header.dark-mode {
    background-color: #0f1923; /* En-tête bleu très foncé */
}

.container.dark-mode {
    background-color: #23343f; /* Fond bleu foncé pour la page principale en mode sombre */
}

.project.dark-mode, .skill.dark-mode {
    background-color: #2e3e4e; /* Bleu foncé pour les projets en mode sombre */
    color: #e0e0e0; /* Texte clair pour les projets en mode sombre */
}

footer.dark-mode {
    background-color: #0f1923; /* Pied de page bleu foncé en mode sombre */
}

/* Dark mode button animation */
#modeToggle.dark-mode {
    color: #1e90ff; /* Bleu clair pour le bouton en mode sombre */
}
